# GDPD v1.0.0 - Environment Variables Example

GDPD_ENV=int

# Database
DB_USER=nova
DB_PASSWORD=nova
DB_NAME=novadb
DB_PORT=5432

# ActiveMQ (INT)
AMQ_USER=admin
AMQ_PASSWORD=admin
ACTIVEMQ_PORT=61616
ACTIVEMQ_WEB_PORT=8161

# RabbitMQ (PRE/PRO)
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Services
API_PORT=8080
FRONTEND_PORT=4200
FRONTEND_API_URL=http://localhost:8080
