# Angular
/dist
/out-tsc
/src/**/*.css
/src/**/*.scss.shim.ngstyle.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Dependencies
/node_modules
npm-debug.log
yarn-error.log

# Testing
/coverage

# Misc
.env
.env.local
*.log
