<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="JSON_LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <version>[ignore]</version>
            </fieldNames>
            <customFields>
                {
                    "app":"${spring.application.name:unknown}",
                    "env":"${spring.profiles.active:unknown}",
                    "service":"gdpd-batch-reportes",
                    "version":"1.0.0"
                }
            </customFields>
        </encoder>
    </appender>

    <springProfile name="dev,int">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.bbva.gdpd" level="DEBUG"/>
    </springProfile>

    <springProfile name="pre,pro">
        <root level="INFO">
            <appender-ref ref="JSON_LOGSTASH"/>
        </root>
        <logger name="com.bbva.gdpd" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
    </springProfile>

</configuration>
